html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title= title
    link(rel='stylesheet' type="text/css" href='/css/style.css')
    script(src="https://unpkg.com/wanakana")
  body
    main
      section#upload-section
          form(enctype='multipart/form-data').form
            div.file-input-container
              label(for='upload-video').file-input-label='Upload Video'
              input(type="file" name='upload-video' accept="video/*").file-input#fileInputVideo
            div.file-input-container
              label(for='upload-subtitles').file-input-label='Upload Subtitles'
              input(type="file" name='upload-subtitles' accept="*.vtt").file-input#fileInputSubtitles
          button.btn.btn-secondary#submitButton Watch
    script
      include upload.js




